<!-- Barre de navigation bootstrap -->
<header class="bg-body-secondary">
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="/">Flask-csv</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="form_get">Formulaire GET</a>
                    <a class="nav-link" href="form_post">Formulaire POST</a>
                </div>
            </div>
        </div>
    </nav>
</header>
